<template>
    <div id="listenBar" class="listenBar">
        <svg viewBox="0 0 22 35" width="22" height="35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.731 14.493c.273 0 .535.113.728.314.194.202.302.475.302.76v2.15c0 2.28.868 4.466 2.413 6.079 1.545 1.612 3.64 2.518 5.826 2.518 2.185 0 4.28-.906 5.826-2.518 1.545-1.613 2.413-3.8 2.413-6.08v-2.149c0-.285.108-.558.301-.76.194-.201.455-.314.729-.314.273 0 .535.113.728.314a1.1 1.1 0 0 1 .301.76v2.15c0 2.664-.948 5.233-2.66 7.209-1.713 1.975-4.068 3.217-6.608 3.483v4.352h6.179c.273 0 .535.113.728.315.193.202.302.475.302.76 0 .285-.109.558-.302.76a1.008 1.008 0 0 1-.728.315H3.79c-.273 0-.535-.114-.728-.315a1.099 1.099 0 0 1-.302-.76c0-.285.109-.558.302-.76.193-.202.455-.315.728-.315h6.18V28.41c-2.541-.266-4.896-1.508-6.609-3.483C1.65 22.95.702 20.38.702 17.715v-2.149c0-.285.108-.558.301-.76.193-.201.455-.314.728-.314Z" fill="#fff"/><path d="M15.12 17.716c0 1.14-.435 2.234-1.207 3.04A4.035 4.035 0 0 1 11 22.015a4.034 4.034 0 0 1-2.913-1.259 4.395 4.395 0 0 1-1.207-3.04V6.97c0-1.14.435-2.233 1.207-3.04A4.034 4.034 0 0 1 11 2.673c1.092 0 2.14.453 2.913 1.259a4.395 4.395 0 0 1 1.206 3.04v10.745ZM11 .523c-1.639 0-3.21.68-4.37 1.889a6.593 6.593 0 0 0-1.81 4.56v10.745c0 1.71.652 3.35 1.81 4.56A6.051 6.051 0 0 0 11 24.164c1.639 0 3.21-.68 4.37-1.888a6.593 6.593 0 0 0 1.809-4.56V6.97c0-1.71-.651-3.35-1.81-4.559A6.051 6.051 0 0 0 11 .522Z" fill="#fff"/></svg>
    </div>
</template>

<script>

export default {
    name: "AilaListenBar"
}

</script>