<template>
    <div class="comp__controls-bottom">
        <button v-on:click="fullscreen" class="controls-bottom__btn controls-bottom__btn--fullscreen">
            <img src="../../assets/img/svg/controls-bottom__fullscreen.svg" alt="Fullscreen" title="Fullscreen" />
        </button>
        <button v-on:click="mute" class="controls-bottom__btn">
            <img src="../../assets/img/svg/controls-bottom__mute.svg" alt="Mute" title="Mute" />
        </button>
    </div>
</template>

<script>

export default {
    name: "AilaControlsBottom",
    methods: {
        fullscreen: function (e) {
            // Are we in fullscreen already?
            if (document.fullscreenElement) {
                document.exitFullscreen();
                return;
            }

            const elem = document.body;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { // Safari
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { // IE11
                elem.msRequestFullscreen();
            }
        },
        mute: function (e) {
            const video = document.getElementById("streamingVideo");

            if (!video) return;
            video.muted = !video.muted;
        }
    }
}

</script>