<template>
    <div class="controls-bottom">
        <button v-on:click="fullscreen" id="btn__fullscreen" class="controls-bottom__btn fullscreen">
            <!--<img src="images/assets/controls-bottom__fullscreen.svg" alt="Fullscreen" title="Fullscreen" />-->
            FULLSCREEN
        </button>
        <button v-on:click="mute" id="btn__mute" class="controls-bottom__btn">
            <!--<img src="images/assets/controls-bottom__mute.svg" alt="Mute" title="Mute" />-->
            MUTE
        </button>
    </div>
</template>

<script>

import AilaManager from "../../assets/js/ailaManager";

export default {
    name: "AilaControlsBottom",
    mounted: function() {
        //console.log(AilaManager.getCommands().length);
    },
    methods: {
        fullscreen: function (e) {
            // Are we in fullscreen already?
            if (document.fullscreenElement) {
                document.exitFullscreen();
                return;
            }

            const elem = document.body;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        },
        mute: function (e) {
            const video = document.getElementById("streamingVideo");

            if (!video) return;
            video.muted = !video.muted;
        }
    }
}

</script>