.comp__controls-top {

  $controls-top-width: 330px;

  .controls-top {
    position: fixed; top: 30px; right: 30px; background: #fff; box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px; width: $controls-top-width; height: 70px; padding: 12px 20px; z-index: 140; display: flex; justify-content: space-between; align-items: center;
  }

  .controls-top .logo-mobile img {width: 125px;}
  .controls-top .spacer {flex: 1; height: 10px;}
  .controls-top .divider {border-left: 1px solid #d2d2dc; width: 1px; height: 38px; margin-left: 15px;}

  .controls-top .controls-top__profile {
    text-align: right; width: 125px; cursor: pointer; display: flex; align-items: center; justify-content: flex-end;

    .controls-top__profile-name { text-align: right; line-height: 15px; padding-right: 15px; }
    .controls-top__profile-name strong { display: block; font-size: 14px; color: #6E6B7B; font-weight: 500; }
    .controls-top__profile-name span { font-size: 12px; color: #B9B9C3; }

    .controls-top__profile-image-wrap { width: 38px; height: 38px; position: relative; }
    .controls-top__profile-image-wrap.is-active:after { display: block; position: absolute; content: ""; width: 12px; height: 12px; border-radius: 6px; border: 2px solid #fff; background: #28C76F; box-sizing: border-box; bottom: 0; right: 0;}
    .controls-top__profile-image-wrap .controls-top__profile-image { position: absolute; border-radius: 19px; left: 0; bottom: 0; width: 38px; height: 38px; overflow: hidden; background-color: rgba(75, 168, 46, 0.12); display: flex; align-items: center; justify-content: center;}
    .controls-top__profile-image-wrap .controls-top__profile-image svg { width: 60%; height: auto; fill: #4BA82E;}
  }


  // Dropdown profile/sidebar menu
  .my-profile__sidebar-wrapper { position: absolute; left: 0; right: 0; bottom: 0; top: 0; z-index: 101; background: rgba(0,0,0,0.4); display: none; opacity: 0; transition: opacity 1s ease-in-out;}
  .my-profile__sidebar-wrapper.show {display: block; opacity: 1;}
  .my-profile__sidebar {width: $controls-top-width; position: absolute; right: 30px; top: 110px; background: #fff; border-radius: 10px; z-index: 102; overflow: hidden; animation: dropdown 0.6s ease-in-out forwards;}

  .sidebar__item {display: flex; flex-direction: row; align-items: center; padding: 12px 21px; border-bottom: 1px solid rgb(235, 233, 241); cursor: pointer;}
  .sidebar__item:focus,
  .sidebar__item:hover {background: #F7F7F7;}
  .sidebar__item .item__title {padding-left: 16px; color: rgb(94, 88, 115); font-size: 14px;}

  .sidebar__switch {display: flex; flex-direction: row; align-items: center; padding: 10px 21px; justify-content: space-between; border-bottom: 1px solid rgb(235, 233, 241);}
  .sidebar__switch .switch__title {color: #6E6B7B; font-weight: 600; font-size: 14px;}
  .sidebar__switch .switch {
    position: relative; display: inline-block; width: 42px; height: 22px;

    input { opacity: 0; width: 0; height: 0;}
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: .4s; }
    .slider:before { position: absolute; content: ""; height: 14px; width: 14px; left: 5px; bottom: 4.5px; background-color: white; transition: .4s; }
    input:checked + .slider { background-color: $colorDefaultLighter; }
    input:focus + .slider { box-shadow: 0 0 1px $colorDefaultLighter; }
    input:checked + .slider:before { transform: translateX(18px); }
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }
  }

  .sidebar__logout {display: flex; flex-direction: row; align-items: center; padding: 12px 21px;}
  .sidebar__logout .logout__btn {border: 1px solid $colorSecondary; width: 100%; padding: 8px; border-radius: 8px; color: $colorSecondary; transition: all 200ms ease-in-out; display: flex; align-items: center; justify-content: center;}
  .sidebar__logout .logout__btn svg {fill: $colorSecondary; margin-right: 6px; transition: all 200ms ease-in-out;}
  .sidebar__logout .logout__btn:focus,
  .sidebar__logout .logout__btn:hover {background: $colorSecondary; color: #fff;}
  .sidebar__logout .logout__btn:focus svg,
  .sidebar__logout .logout__btn:hover svg {fill: #fff;}

  @media screen and (max-width: 767px) {
    .controls-top { top: 20px; left: 20px; right: 20px; width: auto;}
    .my-profile__sidebar { width: auto; right: 20px; left: 20px; top: 100px; }
  }

  @media screen and (max-width: 360px) {
    .controls-top { top: 0; left: 0; right: 0; width: auto; border-radius: 0;}
    .controls-top .logo-mobile img {width: 100px;}
    .my-profile__sidebar { width: auto; right: 20px; left: 20px; top: 100px; }
  }

}