.comp__controls-bottom {
  position: fixed; left: 30px; bottom: 30px; display: block; z-index: 10;

  .controls-bottom__btn {
    width: 50px; height: 50px; line-height: 48px; text-align: center; margin: 0; padding: 0; border-radius: 5px;
    background: $colorGray; transition: 0.5s all; cursor: pointer; display: inline-block; margin-right: 12px; position: relative;
  }

  .controls-bottom__btn:focus,
  .controls-bottom__btn:hover { transition: background 0.3s ease-in-out; background: darken($colorGray, 10%);}
  .controls-bottom__btn img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;}

  .controls-bottom__btn--fullscreen { background: $colorSecondary; }
  .controls-bottom__btn--fullscreen:focus,
  .controls-bottom__btn--fullscreen:hover { background: darken($colorSecondary, 10%); }


  @media screen and (max-width: 767px) {
    //left: 20px; bottom: 20px;
    display: none;
  }
}