#app { width: 100%; height: 100%; position: absolute;}
#player { width: 100%; height: 100%; z-index: 10;}

#ailaPlayer #videoPlayOverlay {
  //background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), #0E042B;
  background-color: #0E042B; background-position: center center; background-repeat: no-repeat; background-size: cover; cursor: default;
  z-index: 11; position: absolute; width: 100%; height: 100%; align-items: center; justify-content: center; display: flex;
}

#ailaPlayer #videoPlayOverlay.hiddenState {animation: fadeOut 1000ms ease-in-out forwards 800ms;}
#ailaPlayer #videoPlayOverlay.hiddenState .state {animation: fadeOut 800ms ease-in-out forwards;}
#ailaPlayer #videoPlayOverlay.hiddenState2 {z-index: 9;}

#ailaPlayer video { position: absolute; width: 100%; height: 100%; z-index: 9;}
#ailaPlayer .state {position: absolute; display: none; opacity: 0;}
#ailaPlayer .state.active {display: block; animation: fadeIn 1000ms ease-in-out forwards;}

#ailaPlayer .reconnect__btn,
#ailaPlayer .play__btn {
  border: 1px solid #fff; display: block; width: 270px; height: 60px; line-height: 60px; border-radius: 5px; font-size: 22px;
  cursor: pointer; background: transparent; color: #fff; transition: all 200ms ease-in-out; text-align: center;
}
#ailaPlayer .reconnect__btn:hover,
#ailaPlayer .play__btn:hover { background: $colorSecondary; border-color: $colorSecondary; color: #fff;}
#ailaPlayer .message {right: 15px; bottom: 10px; left: auto; top: auto; font-weight: 400; font-size: 12px; color: #fff;}


