*, *::before, *::after {box-sizing: border-box; outline: none;}
html, body {margin: 0; color: $colorText; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-family: "Roboto Condensed", sans-serif;}
html {height: -webkit-fill-available;}
body {min-height: 100vh; min-height: -webkit-fill-available;}

img {max-width: 100%; vertical-align: middle;}
svg {vertical-align: middle;}
a {text-decoration: none; color: inherit;}
button, input[type="submit"], input[type="reset"] { background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;}


@media screen and (min-width: 768px) {
  .hidePC {display: none !important;}
}

@media screen and (max-width: 767px) {
  .hideMobile {display: none !important;}
}