@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Roboto/RobotoCondensed-Light.ttf');
  src: local('Roboto Condensed'), url('assets/fonts/Roboto/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto/RobotoCondensed-Regular.ttf');
  src: local('Roboto Condensed'), url('assets/fonts/Roboto/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Roboto/RobotoCondensed-Bold.ttf');
  src: local('Roboto Condensed'), url('assets/fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
}